*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    position: relative;
}

/* FLEX CONTAINERS */
.heading-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie-frames.png");
    height: 25vh;
    width: 100%;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* TYPOGRAPHY */
.hero-title {
    font-weight: 800;
    font-size: 2.7rem;
}

.hero-watchlist {
    font-weight: 700;
    font-size: 1rem;
}

main {
    background-color: #121212;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-container {
    color: #2E2E2F;
    text-align: center;
} 

.main-title {
    font-weight: 700;
    font-size: 1.4rem;
}

input {
    color: #A5A5A5;
    font-size: 1.2rem;
    background-color: #2E2E2F;
    border-style: none;
    padding: 0.5em;
}

.search-bar {
    background-color: #2E2E2F;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding-left: 0.5em;
    position: absolute;
    margin-top: -1.25em;
    left: 50%;
    transform: translateX(-50%);
}

.search-btn {
    padding: 1em 1.5em;
    background-color: #4B4B4B;
    color: #FFFFFF;
    cursor: pointer;
    border-style: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}