*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

.heading-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie-frames.png");
    height: 25vh;
    width: 100%;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
}