*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

.heading-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie-frames.png");
    height: 25vh;
    width: 100%;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-title {
    font-weight: 800;
    font-size: 2.7rem;
}

.hero-watchlist {
    font-weight: 700;
    font-size: 1.4rem;
}