:root {
    --text-color: #FFFFFF;
    --main-bg-color: #121212;
    --alt-text-color: #5c5959;
    --font-stack: "Inter", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: var(--font-stack);
    position: relative;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* --- Header & Search Bar Styling --- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie-frames.png");
    min-height: 25vh;
    width: 100%;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    font-weight: 800;
    font-size: 2.7rem;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

.search-bar {
    background-color: #2E2E2F;
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: absolute;
    margin-top: -1.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 800px;
}

.fa-magnifying-glass {
    color: #9ca3af;
    padding-left: 1em;
    padding-right: 1.5em;
}

input {
    color: #A5A5A5;
    font-size: 1.2rem;
    background-color: #2E2E2F;
    border-style: none;
    padding: 0.5em;
    flex-grow: 1;
}

.search-btn {
    padding: 1em 2.5em;
    background-color: #4B4B4B;
    color: var(--text-color);
    cursor: pointer;
    border-style: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

main {
    background-color: var(--main-bg-color);
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-text-container {
    color: var(--alt-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 4em;
}

/* --- Movie List Container --- */
.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 3em;
    max-width: 800px;
}

/* --- Individual Movie Card Styling --- */
 .movie-card {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #4B4B4B;
    width: 100%;
} 

.movie-container img {
    height: 150px;
    width: auto; 
    padding-bottom: 1em;
}

.card-row {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.movie-title, 
.movie-rating,
.movie-runtime,
.movie-genre,
.movie-watchlist {
    color: var(--text-color);
}

.fa-star {
    color: #FEC654;
}

.movie-watchlist {
    cursor: pointer;
}

.movie-plot {
    color: var(--alt-text-color);
}

a.add-movies {
    color: var(--text-color);
    text-decoration: none;
}