:root {
    --text-color: #FFFFFF;
    --font-stack: "Inter", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: var(--font-stack);
    position: relative;
}

/* --- Header & Search Bar Styling --- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/movie-frames.png");
    min-height: 25vh;
    width: 100%;
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

/* TYPOGRAPHY */
.hero-title {
    font-weight: 800;
    font-size: 2.7rem;
}

.hero-watchlist {
    font-weight: 700;
    font-size: 1rem;
}

main {
    background-color: #121212;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-container img {
    display: block;
    height: 150px;
    width: auto;
}

.main-title {
    font-weight: 700;
    font-size: 1.4rem;
}

input {
    color: #A5A5A5;
    font-size: 1.2rem;
    background-color: #2E2E2F;
    border-style: none;
    padding: 0.5em;
}

.search-bar {
    background-color: #2E2E2F;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding-left: 0.5em;
    position: absolute;
    margin-top: -1.25em;
    left: 50%;
    transform: translateX(-50%);
}

.search-btn {
    padding: 1em 1.5em;
    background-color: #4B4B4B;
    color: var(--text-color);
    cursor: pointer;
    border-style: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* --- Movie List Container --- */
.movie-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    color: #2E2E2F;
}

 .movie-card {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid red;
} 